.catagory {
  /* Tambahkan properti flex untuk container utama */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.list {
  height: auto;
  width: 1007px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
}

.btn_catagory {
  /* Tetapkan properti flex pada container tombol kategori */
  display: flex;
  margin-top: 30px;
  margin-right: 10px;
}
.btn_catagory button.active {
  transition: background-color 0.3s ease;
  color: rgb(139, 130, 155);
  background-color: yellow;
  border: none;
  font-size: 14px;
  /* Add any other styles you want for the active state */
}
.btn_catagory button.active:hover {
  color: rgb(139, 130, 155);
  background-color: rgb(211, 211, 3);
}
.btn_catagory button {
  /* Sesuaikan gaya tombol */
  color: rgb(229, 231, 235);
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 5px;
  margin-left: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.btn_catagory button:hover {
  transition: background-color 0.3s ease;
  color: white;
  background-color: rgb(52, 47, 60);
}

.list_catagory {
  /* Tetapkan properti flex pada container kategori */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; /* Menangani penempatan kartu pada baris berikutnya */
  margin-top: 30px;
  margin-left: 15px;
}

.card-container {
  /* Sesuaikan properti flex pada kartu */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 175.797px;
  height: 263.719px;
  margin-right: 21px;
  margin-bottom: 25px;
  border-radius: 16px;
  border: transparent solid 2px;
  transition: border-color 0.3s ease;
  overflow: hidden;
}

.card-container:hover {
  /* Sesuaikan warna saat kartu dihover */
  border: 2px solid #fbfc05;
}

.card_category {
  /* Sesuaikan properti gambar kartu */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.text-container {
  /* Sesuaikan properti teks container */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 16px;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.9)
  );
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.card-container:hover .text-container {
  /* Sesuaikan tampilan teks saat kartu dihover */
  transform: translateY(0);
}

.text {
  /* Sesuaikan properti teks */
  font-weight: 700;
  margin-top: 200px;
}

.text1 {
  /* Sesuaikan properti teks nama */
  color: rgb(229, 231, 235);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text2 {
  /* Sesuaikan properti teks keterangan */
  color: rgb(139, 130, 155);
  font-size: 12px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
