.slider {
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(150, 150, 143);
  background: linear-gradient(
    90deg,
    rgba(150, 150, 143, 1) 0%,
    rgba(97, 97, 92, 1) 45%,
    rgba(18, 18, 18, 1) 100%
  );
}
.slider_img {
  margin-top: 60px;
  width: auto;
  height: 330.625px;
  border-radius: 20px;
}
.arrowkiri {
  margin-top: 40px;
  margin-right: 10px;
}

.arrow {
  margin-top: 40px;
  margin-left: 10px; /* Sesuaikan margin kiri sesuai kebutuhan */
}

.arrow_img {
  width: 30px;
  height: 30px;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(39, 36, 45);
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  transition: transform 0.3s ease; /* Efek scaling ketika tombol dihover */
}

.slider {
  display: flex;
  align-items: center;
}
